<a href="https://colab.research.google.com/github/kkktim/Colab/blob/master/Ch02.%20%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D%20%EC%8B%A4%EC%8A%B5%20/%204_%EB%A1%9C%EC%A7%80%EC%8A%A4%ED%8B%B1_%ED%9A%8C%EA%B7%80%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
날짜 : 2022/05/02
이름 : 강태호
내용 : 로지스틱 회귀분석 실습
"""
from sklearn.linear_model import LogisticRegression

In [2]:
#학습데이터
train_data = [[42, 27], [36, 76], [28, 72], [63, 45], [59, 37]]
train_label = [1, 2, 2, 1, 1]

In [3]:
#학습하기
model = LogisticRegression()
model.fit(train_data, train_label)

LogisticRegression()

In [4]:
#테스트하기
test_data = [[46, 62], [27, 45], [37, 51]]
result = model.predict(test_data)
result

array([2, 1, 1])

In [9]:
################################################################
#로지스틱 연습문제
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [6]:
#iris 데이터셋 불러오기
df_iris = pd.read_csv('/content/drive/MyDrive/파이썬 데이터 과학 실습/file/iris.csv')
df_iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [22]:
#학습데이터, 라벨 분류
iris_data = df_iris[['sepal.length', 'sepal.width', 'petal.length', 'petal.width']]
iris_label = df_iris['variety']

train_data, test_data, train_label, test_label = train_test_split(iris_data, iris_label, train_size=0.8)
train_data

     sepal.length  sepal.width  petal.length  petal.width
45            4.8          3.0           1.4          0.3
57            4.9          2.4           3.3          1.0
113           5.7          2.5           5.0          2.0
96            5.7          2.9           4.2          1.3
127           6.1          3.0           4.9          1.8
..            ...          ...           ...          ...
147           6.5          3.0           5.2          2.0
42            4.4          3.2           1.3          0.2
35            5.0          3.2           1.2          0.2
32            5.2          4.1           1.5          0.1
21            5.1          3.7           1.5          0.4

[120 rows x 4 columns]

In [23]:
#학습하기
model = LogisticRegression()
model.fit(train_data, train_label)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [24]:
#테스트하기
result = model.predict(test_data)
result

array(['Versicolor', 'Virginica', 'Virginica', 'Versicolor', 'Versicolor',
       'Setosa', 'Virginica', 'Setosa', 'Versicolor', 'Versicolor',
       'Versicolor', 'Setosa', 'Virginica', 'Virginica', 'Versicolor',
       'Versicolor', 'Versicolor', 'Setosa', 'Virginica', 'Virginica',
       'Versicolor', 'Setosa', 'Virginica', 'Setosa', 'Setosa',
       'Virginica', 'Setosa', 'Virginica', 'Versicolor', 'Setosa'],
      dtype=object)

In [25]:
#성능평가
score = metrics.accuracy_score(result, test_label)
score

0.9666666666666667